body {
    font-family: "Jost", sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #6c2bed;
    margin: 20px 0;
}

.container {
    width: 90%;
    margin: 40px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
}

.select-container {
    width: 30%; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #6666FF;
    outline: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: 200ms ease-in;
}

select:focus {
    border-color: #7B68EE;
    background-color: #f9f9ff;
}

.map-container {
    width: 70%; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
}

svg {
    display: block;
    margin: 0;
    border: 2px solid #6666FF;
    border-radius: 8px;
    background-color: #fff;
    width: 100%; 
    height: 600px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

path {
    transition: fill 0.2s ease, stroke 0.2s ease;
}

path:hover {
    fill: #ddd;
    stroke: #6666FF;
}

button {
    background: #7B68EE;
    color: white;
    font-weight: bold;
    font-family: "Jost";
    width: 50%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 20px auto;
    cursor: pointer;
}

button:hover {
    background: #8A2BE2;
}

label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #7B68EE;
}